* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  color: rgb(0, 0, 0, 1);
  font-family: "Roboto", sans-serif;
}

.container {
  /*задать ширину и выровнять по середине*/
  max-width: 900px;
  margin: 0 auto;
}
.row {
  /*строка*/
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 10px;
}

.col-4 {
  /* 100% / 12 * 4 */
  flex-basis: 33.3%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-6 {
  flex-basis: 16.6%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-12 {
  flex: 100% 0 0;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}

.card {
  background-color: white;
  border: 2px solid black;
  box-shadow: 0 0 10px 5px rgb(16, 15, 15);
  margin-bottom: 20px;
}
.card .card-image {
  width: 100%;
}
.card .card-content {
  padding: 10px 15px;
}
.card.card-horizontal {
  display: flex;
}
.card.card-horizontal .card-image {
  width: 50%;
}
.topbar {
  background-color: white;
}

nav {
  display: flex;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav .nav-link {
  color: rgb(6, 6, 6);
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
nav img {
  margin-top: 10px;
  margin-right: auto;
  width: 4vw;
  height: 3vh;
  margin-left: 20px;
}
.nav-button {
  margin-left: auto;
  background-color: rgba(111, 44, 255, 1);

  border-radius: 25px;
  padding: 10px 40px;
  border: none;
  font-size: 12px;
  margin-right: 40px;
  color: white;
}
.nav-linking {
  text-decoration: none;
  font-size: 15px;
  margin-right: 50px;
  margin-top: 10px;
  color: black;
}
.head {
  margin-top: 2vh;
  padding-top: 20vh;
  padding-left: 10vw;
  padding-bottom: 35vh;
  background-image: url(./images/bg1.jpg);
}
.head span {
  font-size: 14px;
  font-weight: 400;
}
.head h1 {
  margin: 0;
  margin-top: 10px;
  font-weight: 700;
  font-size: 54px;
}
.head #h1 {
  margin: 0;
  color: rgba(111, 44, 255, 1);
}
.head p {
  font-size: 16px;
  font-weight: 400;
}
.head-button {
  padding: 10px 10px;
}
#head-button-left {
  background-color: white;
  margin: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px 15px;
  padding-right: 10vw;
  border: none;
  color: rgba(0, 0, 0, 0.27);
}
#head-button-right {
  padding: 10px 25px;
  background-color: rgba(111, 44, 255, 1);

  margin: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  color: white;
  margin-left: -5px;
}
.section1 .section1-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section1 h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700px;
  line-height: 30px;
}
.section1 p {
  display: inline-block;
  margin-left: 44vw;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 3px solid rgba(111, 44, 255, 1);
}
.section2 {
  display: flex;
  margin: 108px 182px 94px 70px;
}
.row {
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.31);
  padding-right: 3vw;
}
.section2-content-left-side {
  width: 50%;
  padding-top: 25vh;
}
.section2-content-left-side h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.section2-content-left-side #inside-left-side {
  display: flex;
  margin-bottom: 56px;
  margin-top: 50px;
}
.section2 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.section2-content-left-side #p {
  display: inline;
  border-bottom: 1px solid rgb(18, 18, 18);
}
#inside-left-side button {
  background-color: rgba(111, 44, 255, 1);

  border-radius: 30px;
  padding: 10px 40px;
  border: none;
  font-size: 12px;
  margin-right: 40px;
  color: white;
}
#inside-left-side p {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 3px solid rgba(111, 44, 255, 1);
}
.col-4 h1 {
  font-size: 40px;
  font-weight: 700;
}

.section3 h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.section3 p {
  text-align: center;
}
.section3 .container .row {
  display: flex;
  flex-direction: row;
  border: none;
}
