* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  color: rgb(0, 0, 0, 1);
  font-family: "Roboto", sans-serif;
}

.container {
  /*задать ширину и выровнять по середине*/
  max-width: 1400px;
  margin: 0 auto;
}
.row {
  /*строка*/
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 10px;
}

.col-4 {
  /* 100% / 12 * 4 */
  flex-basis: 33.3%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-2 {
  flex-basis: 16.6%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-12 {
  flex: 100% 0 0;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}

.card {
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  box-shadow: 0 0 10px 5px rgba(16, 15, 15, 0.47);
  margin-bottom: 20px;
}
.card .card-image {
  width: 80%;
}
.card .card-content {
  padding: 10px 15px;
}
.card.card-horizontal {
  display: flex;
}
.card.card-horizontal .card-image {
  width: 30%;
}
.topbar {
  background-color: white;
}

nav .container {
  display: flex;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav .nav-link {
  color: rgb(6, 6, 6);
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 14px;
  display: block;
  margin-top: 10px;
}
nav img {
  margin-top: 10px;
  margin-right: auto;
  width: 4vw;
  height: 3vh;
  margin-left: 20px;
}
.nav-button {
  margin-left: auto;
  background-color: rgba(111, 44, 255, 1);
  border-radius: 25px;
  padding: 10px 40px;
  border: none;
  font-size: 12px;
  margin-right: 40px;
  color: white;
  margin-top: 10px;
}
.nav-linking {
  text-decoration: none;
  font-size: 15px;
  margin-right: 50px;
  margin-top: 20px;
  color: black;
}
.head {
  margin-top: 2vh;
  padding-top: 20vh;
  padding-left: 10vw;
  padding-bottom: 35vh;
  background-image: url(./images/bg1.jpg);
}
.head span {
  font-size: 14px;
  font-weight: 400;
}
.head h1 {
  margin: 0;
  margin-top: 10px;
  font-weight: 700;
  font-size: 54px;
}
.head #h1 {
  margin: 0;
  color: rgba(111, 44, 255, 1);
}
.head p {
  font-size: 16px;
  font-weight: 400;
}
.head-button {
  padding: 10px 10px;
}
#head-button-left {
  background-color: white;
  margin: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px 15px;
  padding-right: 10vw;
  border: none;
  color: rgba(0, 0, 0, 0.27);
}
#head-button-right {
  padding: 10px 25px;
  background-color: rgba(111, 44, 255, 1);

  margin: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  color: white;
  margin-left: -5px;
}
.section1 .section1-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section1 h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700px;
  line-height: 30px;
}
.section1 p {
  display: inline-block;
  margin-left: 44vw;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 3px solid rgba(111, 44, 255, 1);
}
.section2 {
  display: flex;
  margin: 108px 182px 94px 70px;
}
.row {
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.31);
  padding-right: 3vw;
}
.section2-content-left-side {
  width: 50%;
  padding-top: 25vh;
}
.section2-content-left-side h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.section2-content-left-side #inside-left-side {
  display: flex;
  margin-bottom: 56px;
  margin-top: 50px;
}
.section2 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.section2-content-left-side #p {
  display: inline;
  border-bottom: 1px solid rgb(18, 18, 18);
}
#inside-left-side button {
  background-color: rgba(111, 44, 255, 1);

  border-radius: 30px;
  padding: 10px 40px;
  border: none;
  font-size: 12px;
  margin-right: 40px;
  color: white;
}
#inside-left-side p {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 3px solid rgba(111, 44, 255, 1);
}
.col-4 h1 {
  font-size: 40px;
  font-weight: 700;
}
.section3 .row .col-4 {
  text-align: center;
  max-width: 350px;
  margin-left: 5vw;
}

.section3 h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.section3 p {
  text-align: center;
}
.section3 .container .row {
  display: flex;
  flex-direction: row;
  border: none;
}
.section4 {
  background-color: rgba(245, 245, 245, 1);
}
.section4 h1 {
  text-align: center;
  margin-top: 10vh;
  padding-top: 10vh;
  font-size: 40px;
  font-weight: 700;
}
.section4 p {
  text-align: center;
  font-size: 15px;
}
.section4 img {
  margin-left: 18vw;
  max-width: 900px;
  margin-top: 15vh;
}
.section4-buttons {
  display: flex;
  padding-bottom: 10vh;
}
.section4-buttons button {
  padding: 10px 30px;
  border-radius: 30px;
  margin-top: 8vh;
}
.section4-buttons .section-1button {
  margin-left: auto;
  margin-right: 3vw;
  color: white;
  border: none;
  background-color: rgba(111, 44, 255, 1);
  font-size: 15px;
}
.section4-buttons .section-2button {
  margin-right: auto;
  border: none;
  background-color: white;
  color: rgba(111, 44, 255, 1);
  font-size: 15px;
}
.section5 .row .col-4 {
  text-align: center;
  max-width: 300px;
  margin-left: 8vw;
  margin-top: 10vh;
}

.section5 h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.section5 p {
  text-align: center;
}
.section5 .container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
}
.section6 {
  background-color: rgba(245, 245, 245, 1);
}
.section6 h1 {
  text-align: center;
  font-size: 40px;
  padding-top: 10vh;
}
.section6 .container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
  padding-bottom: 10vh;
  margin-left: 20vw;
}
.section6 .container .card {
  max-width: 250px;
  margin-right: 3vw;
  border-radius: 10px;
}
.section6 .image1 {
  max-height: 10vh;
  margin: 0;
  margin-top: 17vh;
}
.section6 .card-content p {
  text-align: center;
  color: rgba(111, 44, 255, 1);
  padding-bottom: 20px;
}
.section6 .card-content img {
  margin-left: 5vw;
}
.section6 .card-image img {
  max-width: 250px;
}
.section7 .container {
  display: flex;
  max-width: 900px;
  flex-wrap: wrap;
  padding-bottom: 20vh;
}
.section7 .container .card {
  width: 26vw;
  height: 28vh;
  margin-right: 3vw;
  background-color: rgba(23, 0, 46, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 10px;
  padding: 17px 10px;
}
.section7 h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.section7 p {
  text-align: center;
}
.section7 .card-head {
  display: flex;
}
.section7 .container .card h4 {
  font-size: 18px;
  font-weight: 700;
  margin-left: 1vw;
}
.section7 .card p {
  font-size: 15px;
}
.section7 .card span {
  text-align: center;
  font-size: 13px;
  border-bottom: 2px solid rgba(255, 255, 255, 1) ;
}
.section8 {
  display: flex;
  background-color: rgba(245, 245, 245, 1);
}
.section8-content {
  margin-left: 3vw;
  margin-right: 5vw;
}
.section8-content h1 {
font-size: 40px;
font-weight: 700;
color: rgba(23, 0, 46, 1);
margin-top: 30vh ;
}
.section8-content p {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5vh;
}
.section8-content button {
  border: none;
  background-color: rgba(111, 44, 255, 1);
  color: white;
  font-size: 15px;
  padding: 10px 18px;
  border-radius: 20px;
}
.section9 {
  background-image: url(./images/Rectanglesection9-bg.jpg);
  background-repeat:repeat-x;
}
.section9 h1 {
  padding-top: 15vh;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.section9-button {
  padding: 10px 10px;
  padding-bottom: 15vh;
}
#section9-button-left {
  background-color: white;
  margin: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px 15px;
  padding-right: 10vw;
  border: none;
  color: rgba(0, 0, 0, 0.27);
  margin-left: 35vw;
}
#section9-button-right {
  padding: 10px 25px;
  background-color: rgba(111, 44, 255, 1);
  margin: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  color: white;
  margin-left: -5px;
}
.section10 .img1 {
  margin-left: 45vw;
}
.section10 p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(28, 28, 28, 1);
  margin: 10vh 0;
}
.section10-icons {
  display: flex;
  margin-left: 40vw;
}
.section10-icons img {
  margin-left: 2vw;
}
footer {
  background-color: rgba(32, 0, 60, 1);
  color: rgba(255, 255, 255, 1);
  margin-top: 20vh;
}
footer .container .content {
  display: flex;
  padding-top: 5vh;
  padding-bottom: 5vh;
  max-width: 1200px;
  margin: 0 auto;
}
footer .container {
  max-width: 1400px;
  margin: 0 auto;
}
footer .container .content ul {
  list-style-type: none;
}
footer .container .content ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1) ;
}
.footer-content ul li a {
  font-size: 14px;
  font-weight: 400;
}
.footer-content ul li {
  padding: 7px 10px;
}
.footer-content h3 {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
footer .featured1 {
  display: flex;
}
.featured {
  max-width: 400px;
  margin-right: 3vw;
}
.products {
  max-width: 350px;
  margin-right: 3vw;
}
.recources {
  max-width: 350px;
  margin-right: 3vw;
}
.company {
  max-width: 350px;
  margin-right: 3vw;
}
.working {
  max-width: 350px;
  margin-right: 3vw;
}
.working h3 {
  font-weight: 400;
}
.footer-from-below {
  display: flex;
  padding-bottom: 10vh;
}
.footer-from-below img {
  max-width: 150px ;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.footer-logo img {
  max-width: 100px;
  margin-left: 4vw;
}
.footer-logo span {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 40o;
}